/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
}

li {
    list-style-type: none;
}

#root {
    height: calc(100% - 50px);
}

.gray_txt {
    color: gray;
}

input {
    outline: none;
}

/* HEADER */
header {
    height: 90px;
    padding: 17px 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 100%;
    width: auto;
}

header .filters button {
    font-size: 17px;
    padding: 10px 20px;
    color: gray;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
}

header .filters button:hover {
    color: black;
    border: 1px solid black;
    background-color: gray;
}

header .filters input {
    width: 250px;
    height: 35px;
    margin-left: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
    background-color: black;
    font-size: 17px;
    color: white;
}

/* MAIN */
main {
    height: calc(100% - 90px);
    background-color: #222;
}

.results_container {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.results_list {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.results_list .single_result {
    width: calc((100% / 5) - 40px);
    font-size: 12px;
    height: 170px;
    margin: 10px;
    border: 1px solid red;
}

.single_result .lan_flag {
    width: 23px;
    height: 15px;
}

.result_details {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.no_results {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FOOTER */
footer {
    height: 50px;
    padding-top: 15px;
    background-color: black;
    text-align: center;
    font-style: italic;
}

footer img {
    margin: 0 3px;
    width: 25px;
    height: auto;
    vertical-align: middle;
}