/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
}

li {
    list-style-type: none;
}

#root {
    height: calc(100% - 50px);
}

.gray_txt {
    color: gray;
}

.yellow_txt {
    color: darkgoldenrod;
}

.bold {
    font-weight: bold;
}

input {
    outline: none;
}

/* HEADER */
header {
    height: 100px;
    padding: 20px 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 100%;
    width: auto;
}

header .filters button {
    font-size: 17px;
    padding: 10px 20px;
    color: gray;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
}

header .filters button:hover {
    color: black;
    border: 1px solid black;
    background-color: gray;
}

header .filters input {
    width: 250px;
    height: 35px;
    margin-left: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
    background-color: black;
    font-size: 17px;
    color: white;
}

/* MAIN */
main {
    height: calc(100% - 100px);
    background-color: #222;
}

.results_container {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.results_list {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 20px 10px;
}

.results_list .single_result {
    width: 260px;
    height: 390px;
    font-size: 13px;
    margin: 15px 10px;
    position: relative;
}

.single_result .lan_flag {
    width: 22px;
    height: 15px;
    vertical-align: middle;
}

.single_result .poster {
    width: 260px;
    height: 390px;
    display: block;
}

.result_details {
    width: 260px;
    height: 390px;
    padding: 30px 20px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
}

.result_details li {
    margin-bottom: 10px;
}

.single_result:hover .result_details {
    opacity: 1;
}

.no_result {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FOOTER */
footer {
    height: 50px;
    padding-top: 15px;
    background-color: black;
    text-align: center;
    font-style: italic;
}

footer img {
    margin: 0 3px;
    width: 25px;
    height: auto;
    vertical-align: middle;
}