<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>

    <!-- INIZIO VUE JS ROOT -->
    <div id="root">

        <!-- INIZIO HEADER -->
        <header>

            <!-- logo -->
            <img src="img/boolflix_logo.png" alt="boolflix logo">

            <!-- filtro ricerca film/serie -->
            <div class="filters">

                <!-- tasto per cercare -->
                <button
                    @click="searchTitle()">
                    Cerca
                </button>

                <!-- input text per filtrare -->
                <input
                    type="text"
                    v-model="userFilter"
                    @keyup.enter="searchTitle()"
                    placeholder="Inserisci titolo">
            </div>

        </header>
        <!-- FINE HEADER -->

        <!-- INIZIO MAIN -->
        <main>

            <!-- inizio contenitore risultati -->
            <div class="results_container">

                <!-- inizio lista risultati -->
                <!-- ogni risultato è una li -->
                <ul class="results_list">

                    <!-- inizio li singolo risultato -->
                    <li
                        v-for="movie in movies"
                        class="single_result">

                        <!-- copertina film o serie tv -->
                        <img
                            v-if="movie.poster_path"
                            class="poster"
                            :src="'https://image.tmdb.org/t/p/w300' + movie.poster_path" alt="movie.name">
                            
                        <img
                            v-else
                            class="poster"
                            src="img/no_poster.jpg" alt="no image">

                        <!-- inizio lista dettagli singolo risulatato -->
                        <!-- ogni dettagli sarà una li -->
                        <ul class="result_details">

                            <!-- titolo film o serie tv -->
                            <li>
                                Titolo: 
                                <span v-if="movie.title" class="gray_txt">{{movie.title}}</span>
                                <span v-else class="gray_txt">{{movie.name}}</span>
                            </li>

                            <!-- titolo originale film o serie tv -->
                            <li>
                                Titolo originale: 
                                <span v-if="movie.original_title" class="gray_txt">{{movie.original_title}}</span>
                                <span v-else class="gray_txt">{{movie.original_name}}</span>
                            </li>

                            <!-- lingua film o serie tv -->
                            <li>
                                Lingua: 
                                <img
                                    v-if="movie.original_language"
                                    class="lan_flag"
                                    :src="'img/' + movie.original_language + '.png'"
                                    alt="movie.original_language">
                                <span v-else>lingua non disponibile</span>
                            </li>

                            <!-- trama film o serie tv -->
                            <li>
                                Trama: 
                                <span v-if="movie.overview" class="gray_txt">{{movie.overview}}</span>
                                <span v-else class="gray_txt">nessuna trama disponibile</span>
                            </li>
                            
                            <!-- voto film o serie tv -->
                            <li>
                                Voto:
                                <span
                                    v-for="star in movie.vote_average"
                                    class="yellow_txt">
                                    <i class="fas fa-star"></i>
                                </span>
                            </li>

                        </ul>
                        <!-- fine lista dettagli singolo risulatato -->
                        
                    </li>
                    <!-- fine li singolo risultato -->

                </ul>
                <!-- fine lista risultati -->

            </div>
            <!-- fine contenitore risultati -->

            <!-- stampa se l'utente non scrive niente nel filtro -->
            <div v-if="userFilter.length == 0" class="no_results">
                Cerca il titolo del film o della serie tv che vuoi guardare
            </div>
            
        </main>
        <!-- FINE MAIN -->

    </div>
    <!-- FINE VUE JS ROOT -->

    <!-- INIZIO FOOTER -->
    <footer>
        <span><b>@pmattiab</b></span>
        <img src="img/bool_logo.png" alt="boolean">
        <span>boolflix with</span>
        <img src="img/vue_logo.png" alt="vue">
    </footer>
    <!-- FINE FOOTER -->

    <!-- JS -->
    <script type="text/javascript" src="js/script.js"></script>   

</body>
</html>